.action-icons-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.action-icon{
    font-size: 22px;
}
.action-icons{
    padding: 8px 0px;
}
.action-center-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
}
.action-item{
    padding: 8px 10px;
}
.logo-items-wrapper{
    display: flex;
    align-items: center;
    padding: 8px 10px;
}
.logoimage{
    height: 30px;
    width: 30px;
}
.search-input{
    all: unset;
    border: 1px solid gray;
    padding: 5px 12px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: white;
}
.house{
    border-bottom: 4px solid magenta;
}